<section class="spaced" *ngIf="character">
  <h3>
    {{ character.name }}
  </h3>
  <aside>
    <img [src]="character.imagePath" [alt]="character.name" />
  </aside>
  <div>
    <dl>
      <div *ngIf="(character.title)">
        <dt>Title</dt>
        <dd>
          {{ character.title }}
        </dd>
     </div>
     <div *ngIf="character.aliases.length>0">
        <dt>Aliases</dt>
        <dd *ngFor="let alias of character.aliases">
                {{ alias }} ,
            </dd>
      </div>
    </dl>
  </div>
</section>
