<div data-testid="back-button" class="padded">
  <jesi-button [routerLink]="['/houses']">🡄 Back to houses</jesi-button>
</div>

<main class="padded spaced" *ngIf="house$ | async as house">
  <aside>
    <img />
  </aside>
  <div>
    <h2>
      {{ house.name }}
    </h2>
    <h3>
        {{ house.region }}
    </h3>
    <h4>
        {{ house.seat }}
    </h4>
    <dl>
      <div *ngIf="(house.words)">
        <dt>Words</dt>
        <dd>
          {{ house.words }}
        </dd>
      </div>
      <div *ngIf="(house.coatOfArms)">
        <dt>Coat of arms</dt>
        <dd>
          {{ house.coatOfArms }}
        </dd>
      </div>
    </dl>
  </div>
</main>

<section *ngIf="characters$ | async as characters; else loading" data-testid="display-characters">
    <jesi-character-card *ngFor="let character of characters" [character]="character">
    </jesi-character-card>
</section>
