@import '../../../styles/variables';

main {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 1rem;
}

img {
  width: 100%;
}

dt {
  font-weight: bold;
  font-style: italic;
  font-size: .7rem;
}

dd {
  margin-bottom: .5rem;
  font-size: .8rem;
}

aside {
  position: relative;
  &.favorite::after {
    content: '❤';
    position: absolute;
    padding: 5px;
    color: white;
    right: 5px;
    top: 5px;
    background-color: $jesi-primary;
    width: 15px;
    line-height: 15px;
    border-radius: 50%;
    border: 1px solid;
  }
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
